*.pyc
*.log
*.swp
/bin
/logs/*
!/logs/.keep
/static/*
!/static/.keep
/supervisord.pid
/src/
eggs/
include/
lib/
local/
/docs/build
/docs/*.bat
/docs/doctrees/
/docs/html/
__pycache__
/*.sock
docs/Makefile
/whoosh_index/
/.env
/.vscode
